@charset "utf-8";

.amarelo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
.row{
    padding: 15px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
